// Navigation code here
.nav {
  .flex-nav;
  height: 120px;

  h1 {
    font-size: 4rem;
    color: @nav-font;
  }

  nav {
    ul {
      display: flex;

      li {
        a {
          .links;
        }
      }
    }
  }
}
